body {

    margin: 0;
}

header {
    background-color: white;
    text-align: center;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-variant-ligatures: normal;
    font-size: 50px;
    font-style: italic;
    font-weight: 100;
    margin: 30px 0 50px;
}

.row {
    display: flex;
}

.container {
    border: solid black;
}

.horizontal {
    display: flex;
    justify-content: space-around;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#clear {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-variant-ligatures: normal;
    font-style: italic;
    font-size: 40px;
    font-weight: 100;
    padding: 10px 30px 10px;
    border-radius: 15px;
}

