body {

    margin: 0;
}

header {
    background-color: orange;
    text-align: center;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin: 0 0 50px;
}

.row {
    display: flex;
}

.container {
    border: solid black;
}

.horizontal {
    display: flex;
    justify-content: space-around;
}